body{
	background-color: #860038;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 100px;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
}

section, p, h1, h2{
	color:#FDBB30;
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 75px;
    }

    h2{
        font-size: 29px;
    }
}